<div class="container">
  <div class="row">
    <div class="col-sm-6 float-left"><h2>All Products</h2></div>
    <div class="col-sm-6 float-right">
      <button id="btnAddProduct" class="btn btn-primary" data-toggle="modal" data-target="#addproductspopup">Add New Product</button>
    </div>
  </div>
  <p *ngIf="!products"><em>Loading...</em></p>
  <div class="row">
    <div class="col-sm-12">
      <table class="table table-responsive-sm" style="border:solid black 2px">
        <thead class="thead-dark">
          <tr>
            <th>Product Name</th>
            <th>Quantity</th>
            <th>Price / Kg</th>
            <th>Image</th>
            <th>Actons</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let prod of products">
            <td>{{prod.productName}}</td>
            <td>{{prod.quantity}}</td>
            <td>{{prod.price}}</td>
            <td><img src="../../assets/images/cardImages/{{prod.productName}}.png" class="rounded-circle" width="80" height="60" /></td>
            <td>
              <button class="btn btn-link" alt="edit" (click)="showupdatemodal(prod)"><i class='fas fa-edit'></i></button>
              <button class="btn btn-link" alt="delete" (click)="show(prod.productId)"><i class='fas fa-times-circle'></i></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- The Modal -->
<div class="modal" id="addproductspopup">
  <div class="modal-dialog">
    <form (ngSubmit)="addProduct()">
      <div class="modal-content">
        <div class="modal-header">
          <h4>Add New Product</h4>
          <button class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label>Product Name</label>
            <select class="form-control" name="product.ProductName" [(ngModel)]="product.ProductName">
              <option *ngFor="let pt of productType" [value]="pt">{{pt}}</option>
            </select>
          </div>
          <div class="form-group">
            <label>Price / Kg</label>
            <input type="number" class="form-control" name="price" id="price" required [(ngModel)]="product.Price" />
          </div>
          <div class="form-group">
            <label>Quantity In Kg's</label>
            <input type="number" class="form-control" name="productname" id="quantity" required [(ngModel)]="product.Quantity" />
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-success float-left">Submit</button>
          <button class="btn btn-warning float-right" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- modal-dialog -->
<div class="modal" [style.display]="showModal ? 'block' : 'none'" tabindexrole="dialog" id="delete-modal">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <!-- modal-header -->
      <div class="modal-header" id="modal-head">
        <h4 class="modal-title"> Delete Confirmation</h4>
        <button type="button" class="close" data-dismiss="modal" (click)="hide()">&times;</button>
      </div>
      <!-- modal-body -->
      <div class="modal-body" id="modal-body">
        <p> Are you sure you want to delete the product {{productId}}? </p>
      </div>
      <!-- modal-footer -->
      <div class="modal-footer" id="modal-footer">
        <button type="button" (click)="DeleteProduct(productId)" class="btn btn-primary" id="ok-btn"> Ok </button>
        <button type="button" class="btn btn-danger" id="cancel-btn" data-dismiss="modal" (click)="hide()"> Cancel </button>
      </div>
    </div>
  </div>
</div>

<!-- modal-dialog -->
<div class="modal" [style.display]="showUpdateModal ? 'block' : 'none'" tabindexrole="dialog" id="update-modal">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <!-- modal-header -->
      <div class="modal-header" id="modal-head">
        <h4 class="modal-title"> Update Product</h4>
        <button type="button" class="close" data-dismiss="modal" (click)="hideupdatemodal()">&times;</button>
      </div>
      <!-- modal-body -->
      <div class="modal-body" id="modal-body">
        <div class="form-group">
          <label>Product Name</label>
          <input type="text" class="form-control" name="productname" id="productname" [(ngModel)]="product.productName" disabled/>
        </div>
        <div class="form-group">
          <label>Price / Kg</label>
          <input type="number" class="form-control" name="price" id="price" required [(ngModel)]="product.price" />
        </div>
        <div class="form-group">
          <label>Quantity In Kg's</label>
          <input type="number" class="form-control" name="productname" id="quntity" required [(ngModel)]="product.quantity" />
        </div>
      </div>
      <!-- modal-footer -->
      <div class="modal-footer" id="modal-footer">
        <button type="button" (click)="updateProduct(product.productId)" class="btn btn-primary" id="ok-btn"> Update </button>
        <button type="button" class="btn btn-danger" id="cancel-btn" data-dismiss="modal" (click)="hideupdatemodal()"> Cancel </button>
      </div>
    </div>
  </div>
</div>
