<div class="card">
  <div class="card-wrapper">
    <img class="card-img-top" src="../../assets/images/cardImages/{{product.productName}}.png" height="250" />
    <ul class="list-inline text-center member-icons">
      <li class="list-inline-item">
        <button class="btn btn-success btn-block" *ngIf="product.quantity>0" width="100%">Buy</button>
        <button class="btn btn-danger btn-block" *ngIf="product.quantity<=0" width="100%" disabled>Out of Stock</button>
      </li>      
    </ul>
  </div>
  <div class="card-body p-2">
    <h3> {{product.productName}}</h3>
    <h4>Cost : {{product.price|currency:"&#8377;"}} /KG</h4>
    <p class=" btn btn-success" *ngIf="product.quantity>0">In Stock</p>
    <p class="btn btn-danger" *ngIf="product.quantity<=0">Out of Stock</p>
  </div>
</div>

