<div class="card">
  <div class="card-wrapper">
    <img class="card-img-top" src="../../assets/images/cardImages/{{product.productName}}.png" height="250" />
    <ul class="list-inline text-center member-icons">
      <li class="list-inline-item">
        <button class="btn-primary btn-primary">E</button>
      </li>
      <li class="list-inline-item">
        <button class="btn-primary btn-primary">C</button>
      </li>
    </ul>
  </div>
  <div class="card-body p-2">
    <h3> {{product.productName}}</h3>
    <h4>Cost : {{product.price}} Rs/KG</h4>
  </div>
</div>

